@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");

* {
  font-family: "Capriola", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff
}


